<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355151395569-n6c4mqiqsrui1grplq0ag6rj2uqho3o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355151395569-n6c4mqiqsrui1grplq0ag6rj2uqho3o9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355151395569-bo7mdshjfbfsa1krv4e0d3t8ff2lr26m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvpzOn-ottlhGHgav8fnih92sVadyT7Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>355151395569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.actvn.knowledge</string>
	<key>PROJECT_ID</key>
	<string>knowledge-5038a</string>
	<key>STORAGE_BUCKET</key>
	<string>knowledge-5038a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355151395569:ios:8461265b79d78f0a5cc750</string>
</dict>
</plist>